h1 {
  opacity: 0;
}

header img {
  width: 20%;
  height: auto;
}

header {
  text-align: center;
  background-image: url("../img/fundo11.jpeg");
  /* para ocupar todo o tamanho da tela no cabeçalho */
  background-size: 100%;
  background-position: 0 -250px;
  transition: ease 2s;
  text-align: right;
}

footer .card-header {
  background-color: rgb(26, 26, 26);
  color: white;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 20pt;
}

footer .card-body {
  background-color: rgb(59, 59, 59);
  color: white;
  text-align: center;
  font-family: "Trebuchet MS";
}

#home1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  margin-bottom: 200px;
  text-align: justify;
}

#home2 {
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  text-align: justify;
}

#imgHome {
  text-align: center;
}

#imgHome img {
  width: 600px;
  height: 350px;
  margin: 0 20px;
  transition: ease 1s;
  opacity: 0.8;
}
#imgHome img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: grab;
}

#imgLazer img {
  width: 200px;
  height: 180px;
  margin:10px;
  cursor: zoom-in;
  box
}

#imgLazer{
  text-align: center;
}